.App {
  text-align: center;
  height: 100%;
}

.index-image {
  width: 100%;
  height: 100%;
}

.park-image {
  width: 20%;
  height: 80%;
  display: inline-block;
  margin: auto;
  padding-left: 45px;
}
.bookmark {
  width: 25%;
  float: right;
}

